<div class="container">


  <form>
    <h2>Have you seen some ducks?</h2>
  <mat-form-field>
    <input type="number" matInput placeholder="How many?">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Species">
      <mat-option value="option">Mallard</mat-option>
      <mat-option value="option">Redhead</mat-option>
      <mat-option value="option">Gadwall</mat-option>
      <mat-option value="option">Canvasback</mat-option>
      <mat-option value="option">Lesser scaup</mat-option>
    </mat-select>
  </mat-form-field>
    </form>
</div>
