.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 100vw;
  margin-top: 50px;
}

mat-cell {
  padding: 15px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
