.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 88vh;
}

.hint {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  color: #666;
  margin: 60px 10px 10px 10px;
}

mat-table {
  overflow: auto;
  height: 100%;
  padding-bottom: 20px;
}

mat-cell {
  padding: 15px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}


